<div class="menu">
  <button class="btn menu-button js-button-menu">
    <img src="../../../assets/svg/ic-menu.svg"
         alt=""
         loading="lazy"
         class="menu-button-ic-hambuger">
  </button>
  <header class="menu-box js-menu-box-content">
    <nav class="menu-nav">
      <ul class="list-unstyled">
        <li>
          <a routerLink="/home"
             routerLinkActive="menu-box-item-active"
             class="d-block menu-box-item">
            <img src="../../../assets/svg/ic-home.svg"
                 alt=""
                 loading="lazy"
                 class="menu-box-item-ic">
          </a>
        </li>
        <li>
          <a routerLink="/sobre"
             routerLinkActive="menu-box-item-active"
             class="d-block menu-box-item">
            <img src="../../../assets/svg/ic-home.svg"
                 alt=""
                 loading="lazy"
                 class="menu-box-item-ic">
          </a>
        </li>
        <li>
          <a routerLink="/explore"
             routerLinkActive="menu-box-item-active"
             class="d-block menu-box-item">
            <img src="../../../assets/svg/ic-hashtag.svg"
                 alt=""
                 loading="lazy"
                 class="menu-box-item-ic">
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>

